@model IndexViewModel
@{
    ViewData["Title"] = T["Profiel: {0}", User.Identity.Name];
    ViewData["PageStyle"] = "form-small";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<h4>@T["Change your account settings"]</h4>
<hr />
<div class="form vertical-align">
    <label class="col-xs-6">@T["Password:"]</label>
    <div class="col-xs-6">

        @if (Model.HasPassword)
            {
            <button type="button" class="btn btn-primary modal-trigger-ajax-form waves-effect waves-light" href="Manage/ChangePassword">@T["Change"]</button>
        }
        else
        {
            <button type="button" class="btn btn-primary modal-trigger-ajax-form waves-effect waves-light" href="Manage/SetPassword">@T["Create"]</button>
        }
    </div>
</div>
<div class="form-horizontal vertical-align">
    <a class="col-xs-12" asp-controller="Manage" asp-action="ManageLogins">@T["Remove or add external logins "] (@Model.Logins.Count):</a>
</div>

<div id="ajaxForm" class="modal fade" role="dialog"></div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
       
    </script>
}
