@using System
@using System.Threading.Tasks
@*@inject IOptions<AppSettings> AppSettings*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" asp-copy-src-to-fallback="development" />*@
    <title>@ViewBag.Title - Medella DBC</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.2/css/bootstrap.min.css"
          asp-fallback-href-exclude="~/fallback/css/css/bootstrap.min.css"
          asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" asp-copy-src-to-fallback="development" asp-warn-if-test-is-invalid="development" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
          asp-fallback-href="~/fallback/css/css/font-awesome.min.css"
          asp-fallback-test-class="fa" asp-fallback-test-property="display" asp-fallback-test-value="inline-block" asp-copy-src-to-fallback="development" asp-warn-if-test-is-invalid="development" />
    <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" asp-copy-src-to-fallback="development" />
    <link href="~/lib/jquery-uniform/css/uniform.default.css" rel="stylesheet" asp-copy-src-to-fallback="development" />
    <link href="~/lib/css/components-rounded.css" rel="stylesheet" asp-copy-src-to-fallback="development" />
    @*<link href="~/lib/css/themes/default.css" rel="stylesheet" asp-copy-src-to-fallback="development" />*@
    
    <link href="~/lib/css/layout.css" rel="stylesheet" asp-copy-src-to-fallback="development" />
    <link href="~/lib/css/plugins.css" rel="stylesheet" asp-copy-src-to-fallback="development" />
    <link href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet" asp-copy-src-to-fallback="development" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a asp-controller="Home" asp-action="Index" class="navbar-brand">@AppSettings.Options.SiteTitle</a>*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@*&copy; 2015 - @AppSettings.Options.SiteTitle*@</p>
        </footer>
    </div>

    <environment names="Staging,Production,Development">
        <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.2.min.js" asp-copy-src-to-fallback="development"  asp-fallback-test="window.jQuery" asp-warn-if-test-is-invalid="development"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.migrate/jquery-migrate-1.2.1.min.js" asp-copy-src-to-fallback="development" asp-fallback-test="window.jQuery.migrateWarnings" asp-warn-if-test-is-invalid="development"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.4/bootstrap.min.js" asp-copy-src-to-fallback="development" asp-fallback-test="window.jQuery().modal" asp-warn-if-test-is-invalid="development"></script>
        <script src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.js" asp-copy-src-to-fallback="development" asp-fallback-test="window.jQuery().dataTable" asp-warn-if-test-is-invalid="development"></script>
        <script src="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" asp-copy-src-to-fallback="development"  asp-fallback-test="window.jQuery().dataTable.ext.renderer.pageButton.bootstrap" asp-warn-if-test-is-invalid="development"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"  asp-copy-src-to-fallback="development" asp-fallback-test="window.moment" asp-warn-if-test-is-invalid="development"></script>
        <script src="~/lib/jquery-blockui/jquery.blockui.js"></script>
        <script src="~/lib/jquery-cookie/jquery.cookie.js"></script>
        <script src="~/lib/jquery-uniform/jquery.uniform.min.js"></script>
        <script src="~/lib/metronic/metronic.js"></script>
        <script src="~/lib/metronic-layout/layout.js"></script>
        
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
