@model ForgotPasswordViewModel
@{
    ViewData["Title"] = T["Check email"];
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="content">
    <h3>@ViewData["Title"]</h3>@*Controleer e-mail*@
    <p>
        @T["A Email is send to {0}.", @Model.Email] @*Er is een e-mail verstuurd naar @Model.Email.*@
    </p>
    <br />
    <h4>@T["No email received?"]@*Geen email ontvangen?*@</h4>
    <ul>
        <li>@T["It can take several miniute before receiving the email"]@*Het kan enige minuten duren voordat de e-mail aankomt.*@</li>
        <li>@T["The email ended up in your spam"]@*De e-mail is in uw spambox terecht gekomen*@</li>
    </ul>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
