@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = T["Log in"];
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div id="div1" class="content">
    <form id=a1 asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <h3 class="form-title">
            @ViewData["Title"]
            @{
                var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                if (loginProviders.Count != 0)
                {
                    <span>:</span>
                    foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button name="provider" value="@p.AuthenticationScheme" class="fa fa-@p.DisplayName" title="@p.DisplayName"></button>
                    }
                }
            }
        </h3>
    </form>
    <form id=a2 asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="login-form" style="display: block;">
        <div asp-validation-summary="ValidationSummary.All" class="alert-dismissible alert-warning"><button type="button" class="close" onclick="$('.alert-dismissible').hide()">×</button></div>
        <input id="div2" class="form-control" asp-for="Email" asp-material-design="true"/>
        <input class="form-control" asp-for="Password" asp-material-design="true" />
        <div class="form-actions">
            <button type="submit" class="btn btn-primary uppercase">Login</button>
            <input class="" asp-for="RememberMe" type="checkbox" asp-material-design="true" />
        </div>
        <a class="forget-password" asp-action="ForgotPassword">@T["Forgot your password?"]</a>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
