@model SendCodeViewModel
@{
    ViewData["Title"] = T["Send verification code by"];
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="content">
    <form asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal" role="form">
        <h4 class="form-title">@ViewData["Title"]</h4>
        <input asp-for="RememberMe" type="hidden" />
        @foreach (var item in Model.Providers)
        {
            <div class="radio radio-primary">
                <label><input asp-for="SelectedProvider" type="radio" value="@item.Value" />@item.Text</label>
            </div>
        }
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@T["Submit"]</button>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
